@use './abstracts/variables' as *;
@use './abstracts/mixins';
@use './abstracts/functions';

@use './base/reset';
@use './vendors/normalize';
@use './base/typography';

@use './components/panels';

main {
	color: orange;

	.highlighted {
		color: $highlightColor;
	}

	.highlightedBox {
		border: 2px solid $highlightColor;
		width: fit-content;
		padding: 1rem;
	}

	.test001 {
		background-color: saturate($testColor, 0%);
		padding: 1rem;
		width: fit-content;
	}

	.test002 {
		background-color: saturate($testColor, 100%);
		padding: 1rem;
		width: fit-content;
	}

	.test003 {
		background-color: darken($testColor, 10%);
		padding: 1rem;
		width: fit-content;
	}

	.test004 {
		background-color: darken($testColor, 20%);
		padding: 1rem;
		width: fit-content;
	}

	.test005 {
		background-color: darken($testColor, 30%);
		padding: 1rem;
		width: fit-content;
	}

	.btn-primary {
		@include mixins.mainButton(navy, yellow);
	}

	.btn-secondary {
		@include mixins.mainButton(green, yellow);
	}

	.infoBubble {
		@include mixins.ball(#444)
	}

	.warnBubble {
		@include mixins.ball(orange)
	}

	.saleButton {
		$base-color: #c234db;
		background-color: $base-color; 
		padding: .3rem .7rem;

		&:hover {
			background-color: functions.generate-shade($base-color, 40%);
		}
	}
}